In [1]:
# 전처리 라이브러리
import pandas as pd
import numpy as np
import os

In [11]:
# bus, store data
bus = pd.read_csv('/content/drive/Shareddrives/강서구/220315 DrawMap/data/강서구_버스정류소_행정동.csv')
bus = bus[['정류소명', 'X좌표', 'Y좌표', 'H_DNG_NM']]
store = pd.read_csv('/content/drive/Shareddrives/강서구/220315 DrawMap/data/강서구_상가1층_행정동.csv')
display(bus.head(), store.head())

           정류소명         X좌표        Y좌표 H_DNG_NM
0         신월동기점  126.838455  37.529834     화곡1동
1    염창역.서울도시가스  126.875883  37.547074      염창동
2     등촌역.강서보건소  126.868670  37.549024      염창동
3  등촌중학교 백석초등학교  126.861542  37.552610     등촌1동
4  등촌중학교 백석초등학교  126.860524  37.552865     등촌2동

       상호명  행정동명          경도         위도
0     늘꽃처럼  우장산동  126.837789  37.544630
1  아이패밀리안경  화곡4동  126.860227  37.532126
2    울엄니밥상  방화1동  126.810967  37.574007
3     열라닭발  화곡6동  126.850407  37.551971
4       CU  화곡2동  126.853607  37.535125

In [20]:
bus.columns = ['name', 'x', 'y', 'h_name']
store.columns = ['name', 'h_name', 'x', 'y']

In [24]:
bus_store = pd.concat([bus, store])
bus_store.to_csv('/content/drive/Shareddrives/강서구/220315 DrawMap/data/강서구_버스정류소_상가1층.csv', index=False)

In [25]:
bus_store

              name           x          y h_name
0            신월동기점  126.838455  37.529834   화곡1동
1       염창역.서울도시가스  126.875883  37.547074    염창동
2        등촌역.강서보건소  126.868670  37.549024    염창동
3     등촌중학교 백석초등학교  126.861542  37.552610   등촌1동
4     등촌중학교 백석초등학교  126.860524  37.552865   등촌2동
...            ...         ...        ...    ...
7086       다온다김밥국수  126.833902  37.552953   발산1동
7087   메가엠지씨커피마곡유림  126.839190  37.562971   가양1동
7088        삼촌네햄버거  126.862000  37.533792   화곡4동
7089             칸  126.837525  37.554286   우장산동
7090        초이스보일러  126.851830  37.530729   화곡2동

[7691 rows x 4 columns]